<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941787552243-ojitp7ddo11v13f71fau4gsc5uluccno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941787552243-ojitp7ddo11v13f71fau4gsc5uluccno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941787552243-21ir2rtqo4f8hqdsuabbtloekdnrfhvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrQSNW8OtgG_kJNEYxrf5tjaBnEfdpu6s</string>
	<key>GCM_SENDER_ID</key>
	<string>941787552243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuvalreiss.bandmates</string>
	<key>PROJECT_ID</key>
	<string>jammerz</string>
	<key>STORAGE_BUCKET</key>
	<string>jammerz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941787552243:ios:52b574328912aad6881a86</string>
	<key>DATABASE_URL</key>
	<string>https://jammerz.firebaseio.com</string>
</dict>
</plist>